/* ====================== DIV-3 ====================== */
.div-3 {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    height: auto;
}

.div-3 h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 1.5rem;
}

.div-3 hr {
    width: 50%;
    margin: 10px auto;
}

.areas {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    cursor: pointer;
}

.areas .img-areas {
    width: 200px;
    height: 200px;
}

.areas h2 {
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
}

.areas p {
    text-align: left;
    margin-top: 10px;
    font-size: 1.2rem;
}

.areas ul {
    text-align: left;
    margin: 20px;
    font-size: 1.2rem;
}

.areas ul li {
    margin-top: 10px;
}

/* ====================== DIV-4 ====================== */
.div-4 {
    height: auto;
    background-color: blue;
}

.descricao-div-4 {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
}

.descricao-div-4 h1 {
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
    margin-top: 50px;
}

.descricao-div-4 p {
    margin-top: 50px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    color: rgb(58, 58, 58);
}

/* Seta */
.seta-1 {
    height: 10vh;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seta{
    width: 10px;
    height: 40px;
    background: #000;
    border-radius: 5px;
    margin: 6px;
    animation: move 1.1s infinite ease-in-out;
}
span:nth-of-type(1){
    transform: rotate(-45deg);
}

span:nth-of-type(2){
    transform: rotate(45deg);
}

@keyframes move {
    0%{margin-top: 0;}
    50%{margin-top: 10px;}
    100%{margin-top: 0;}
}

@media screen and (max-width:768px) {
    /* ====================== DIV-3 ====================== */
    .div-3 h1 {
        font-size: 2rem;
    }
    .areas {
        display: flex;
        flex-direction: column;
        width: auto;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        gap: 20px;
        margin-top: 20px;
    }
    .areas .img-areas {
        width: 200px;
        height: 200px;
    }
    .areas h2 {
        text-align: left;
        font-size: 2rem;
        font-weight: 700;
    }
    .areas p {
        text-align: left;
        margin-top: 10px;
        font-size: 1.2rem;
    }
    .areas ul {
        text-align: left;
        margin: 20px;
        font-size: 1.2rem;
    }
    .areas ul li {
        margin-top: 10px;
    }

    /* ====================== DIV-4 ====================== */
    .div-4 {
        height: auto;
        background-color: blue;
    }
    .descricao-div-4 {
        padding: 20px;
        max-width: 1200px;
        margin: auto;
    }
    .descricao-div-4 h1 {
        text-align: left;
        font-weight: 500;
        font-size: 2rem;
        margin-top: 50px;
    } 
    .descricao-div-4 p {
        margin-top: 20px;
        text-align: left;
        font-size: 1.3rem;
        font-weight: 400;
        color: rgb(58, 58, 58);
    }
    /* Seta */
    .seta-1 {
        height: 10vh;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .seta{
        width: 10px;
        height: 40px;
        background: #000;
        border-radius: 5px;
        margin: 6px;
        animation: move 1.1s infinite ease-in-out;
    }

}